{% extends 'base_results.html' %}

{% block title %}
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-3">
      <input type='submit' class='btn btn-sucess btn-wd' name='Précédent' value='Questionnaire' />
    </div>
    <div class="col-md-3 offset-6">
      <button class="btn btn-primary bg-gradient-info mt-lg-7 mb-0" onClick="window.print()" type="button"
        name="button">PDF</button>
    </div>
  </div>
</form>
{% endblock %}

{% block navbar %}
<li class="active ">
  <a href="{% url 'results' id_enseigne %}">
    <i class="nc-icon nc-chart-bar-32"></i>
    <p>Photovoltaïque</p>
  </a>
</li>
<li>
  <a href="{% url 'factu' id_enseigne%}">
    <i class="nc-icon nc-credit-card"></i>
    <p> Devis</p>
  </a>
</li>
<li>
  <a href="{% url 'mde' id_enseigne %}">
    <i class="nc-icon nc-bulb-63"></i>
    <p>Maîtrise de l'énergie</p>
  </a>
</li>
<li>
  <a href="{% url 'mobi' id_enseigne %}">
    <i class="nc-icon nc-pin-3"></i>
    <p> Mobilité</p>
  </a>
</li>
<li>
  <a href="{% url 'bilan' id_enseigne %}">
    <i class="nc-icon nc-tag-content"></i>
    <p> Bilan</p>
  </a>
</li>
<li>
  <a href="">
    <i class="nc-icon nc-send"></i>
    <p> Rapport complet</p>
  </a>
</li>
{% endblock navbar %}

{% block content %}
{% load static %}
<!-- End Navbar -->
<div class="content">
  {% if alerte_kVA or alerte_surface %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 mr-auto ml-auto">
        <div class="card card-stats">
          <div class="card-body ">
            <div class="row">
              <div class="col-md-12 mr-auto ml-auto">
                {% if alerte_kVA %}
                <p style="color:red ; text-align: center"><B>Puissance souscrite insuffisante : {{ puissance }} kVA</B>
                </p>
                {% endif %}
                {% if alerte_surface %}
                <p style="color:red ; text-align: center"><B>Surface insuffisante : {{ surface1 }} m²</B></p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="container">
    <div class="col-md-12 mr-auto ml-auto">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Dimensionnement
          </h5>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-sun-fog-29 text-warning"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category"><small>Taille idéale : {{ gt }}</small></p>
                        <p class="card-title"><small>{{ taille }} kWc</small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-layout-11 text-success"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category">Modules</p>
                        <p class="card-title">{{ nb_modules }}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-settings text-danger"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category">Surface</p>
                        <p class="card-title"><small><small>{{ surface }} m²</small></small></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <form method="POST">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-2 offset-3">
                <input type='submit' class='btn btn-danger btn-wd' name='Plus' value='+' />
              </div>
              <div class="col-md-2">
                <input type='submit' class='btn btn-primary btn-wd' name='Reset' value='MODE AUTO' />
              </div>
              <div class="col-md-2">
                <input type='submit' class='btn btn-warning btn-wd' name='Moins' value='-' />
              </div>
            </div>
          </form>

          <div class="row">
            <div class="col-md-4 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-ruler-pencil text-warning"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category"><small>Autoconsommation</small></p>
                        <p class="card-title">{{ autoconso }} %</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-bank text-primary"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category">ESCO</p>
                        <p class="card-title">{{ reduc_esco_10 }} % - {{ reduc_esco_20 }} %</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-5 col-md-4">
                      <div class="icon-big text-center icon-warning">
                        <i class="nc-icon nc-bullet-list-67 text-danger"></i>
                      </div>
                    </div>
                    <div class="col-7 col-md-8">
                      <div class="numbers">
                        <p class="card-category"><small>Autoproduction</small></p>
                        <p class="card-title">{{ autoprod }} %</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">
            Financement
          </h5>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-5 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-header ">
                  <center>
                    <h5 class="card-title">Autoconsommation MCO</h5>
                  </center>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-header ">
                  <center>
                    <h5 class="card-title">ESCO</h5>
                  </center>
                </div>
              </div>
            </div>
          </div>

          <h3 class="card-category">Bilan 20 ans</h3>
          <div class="row">
            <div class="col-md-5 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body">
                  <center>
                    <h5 style="color:olive"><B>
                        {% if gains_mco_pos %}
                        +
                        {% endif %}
                        {{ gains_mco }} €</B></h5>
                  </center>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body">
                  <center>
                    <h5 style="color:olive"><B>
                        {% if gains_esco_pos %}
                        +
                        {% endif %}
                        {{ gains_esco }} €</B></h5>
                  </center>
                </div>
              </div>
            </div>
          </div>

          <h3 class="card-category">Investissement</h3>
          <div class="row">
            <div class="col-md-5 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body">
                  <center>
                    <h5>{{ invest }} €</h5>
                  </center>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body">
                  <center>
                    <h5> 0.00 € </h5>
                  </center>
                </div>
              </div>
            </div>
          </div>

          <h3 class="card-category">Coût total sans action</h3>
          <div class="row">
            <div class="col-md-6 offset-3">
              <div class="card card-stats">
                <div class="card-body">
                  <center>
                    <h5>{{ inaction }} €</h5>
                  </center>
                </div>
              </div>
            </div>
          </div>

          <h3 class="card-category">Coût total avec action</h3>
          <div class="row">
            <div class="col-md-5 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body">
                  <center>
                    <h5>{{ prix_mco }} €</h5>
                  </center>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto ml-auto">
              <div class="card card-stats">
                <div class="card-body">
                  <center>
                    <h5> {{ prix_esco }} € </h5>
                  </center>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card card-stats">
          <div class="card-header ">
            <h5 class="card-title">Rendement de la centrale</h5>
            <p class="card-category">Jour ouvré </p>
          </div>
          <div class="card-body ">
            <canvas id="line-chart" width="300" height="100"></canvas>
            <script>

              new Chart(document.getElementById("line-chart"), {
                type: 'bar',
                data: {
                  labels: ['00:00', '01:00', '02:00', '03:20', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00',
                    '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                  datasets: [{
                    data: {{ graph1 }},
                type: 'line',
                label: "Consommation du bâtiment",
                borderColor: "#FF0000",
                backgroundColor: "#FDFEFE",
                fill: false,
              },
                {
                  data: {{ graph2 }},
                type: 'line',
                label: "Production photovoltaïque",
                borderColor: "#DAF7A6",
                backgroundColor: "#FDFEFE",
                fill: false,
              },
                {
                  label: 'Energie photovoltaïque autoconsommée',
                  data: {{ graph3 }},
                borderColor: '#FFC108',
                fill: 1,
                stack: 'Stack 0',
                backgroundColor: 'rgba(255,193,8,0.5)',
              },
                {
                  label: "Energie achetée au fournisseur",
                  data: {{ EDF }},
                borderColor: '#2986cc',
                fill: 1,
                stack: 'Stack 0',
                backgroundColor: 'rgba(41,134,204,0.5)',
              }]
            },
                options: {
                plugins: {
                  filler: {
                    propagate: true,
                  }
                },
                responsive: true,
                scales: {
                  x: [{
                    stacked: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Heures'
                    }
                  }],
                  y: [{
                    stacked: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'kW'
                    }
                  }]
                },

                title: {
                  display: false,
                  text: 'Profil énergétique'
                }
              }
          });
            </script>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mr-auto ml-auto">
        <div class="card ">
          <div class="card-header ">
            <h5 class="card-title">Rendement de la centrale</h5>
            <p class="card-category">Week-end</p>
          </div>
          <div class="card-body ">
            <canvas id="weekend-chart" width="300" height="100"></canvas>
            <script>

              new Chart(document.getElementById("weekend-chart"), {
                type: 'bar',
                data: {
                  labels: ['00:00', '01:00', '02:00', '03:20', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00',
                    '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00'],
                  datasets: [{
                    data: {{ graph4 }},
                type: 'line',
                label: "Consommation du bâtiment",
                borderColor: "#FF0000",
                backgroundColor: "#FDFEFE",
                fill: false,
              }, {
                data: {{ graph2 }},
                type: 'line',
                label: "Production photovoltaïque",
                borderColor: "#DAF7A6",
                backgroundColor: "#FDFEFE",
                fill: false,
                             },
                {
                  label: 'Energie photovoltaïque autoconsommée',
                  data: {{ graph5 }},
                borderColor: '#FFC108',
                fill: 1,
                stack: 'Stack 0',
                backgroundColor: 'rgba(255,193,8,0.5)',
                            },
                {
                  label: "Energie achetée au fournisseur",
                  data: {{ EDF_1 }},
                borderColor: '#2986cc',
                fill: 1,
                stack: 'Stack 0',
                backgroundColor: 'rgba(41,134,204,0.5)',
                            }
                            ]
                          },
                options: {
                plugins: {
                  filler: {
                    propagate: true,
                  }
                },
                responsive: true,
                scales: {
                  x: [{
                    stacked: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'Heures'
                    }
                  }],
                  y: [{
                    stacked: true,
                    scaleLabel: {
                      display: true,
                      labelString: 'kW'
                    }
                  }]
                },

                title: {
                  display: false,
                  text: 'Profil énergétique'
                }
              }
                        });

            </script>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}