{% extends 'base.html' %}

<head>
  <script>
    {% if messages %}
    {% for message in messages %}
    alert('{{message}}')
    {% endfor %}
    {% endif %}
  </script>
</head>

{% block content %}

<div class="wizard-navigation">
  <div class="progress-with-circle">
    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="2" aria-valuemax="3"
      style="width: 21%"></div>
  </div>
  <ul>
    <li>
      <a href="" data-toggle="tab">
        <div class="icon-circle">
          <i class="ti-user"></i>
        </div>
        Informations génerales
      </a>
    </li>
    <li class="active">
      <a href="" data-toggle="tab">
        <div class="icon-circle">
          <i class="ti-home"></i>
        </div>
        Bâtiments
      </a>
    </li>
    <li>
      <a href="" data-toggle="tab">
        <div class="icon-circle">
          <i class="ti-shine"></i>
        </div>
        Énergie
      </a>
    </li>
    <li>
      <a href="" data-toggle="tab">
        <div class="icon-circle">
          <i class="ti-car"></i>
        </div>
        Mobilité
      </a>
    </li>
  </ul>
</div>

<!--        You can switch " data-color="orange" "  with one of the next bright colors: "blue", "green", "orange", "red", "azure"          -->

<div class="tab-content">
  <h5 class="info-text">Profil personnalisé - Sélection</h5>
  <p class="category">
    Merci de sélectionner un profil personnalisé existant.
  </p>
  <p class="category">
    Un profil "Jour Ouvré" est nécessaire | Un profil "Weekend" est optionnel.
  </p>

  <hr class="divider" />

  <div class="row">
    <form method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <label>Profil personnalisé </label>
            {{ formP1.profil }}
          </div>
        </div>
      </div>
  </div>

  <div class="wizard-footer">
    <div class="pull-right">
      <input type="submit" class="btn btn-default btn-wd" name="Suivant" value="Suivant" />
    </div>
    <div class="pull-left">
      <input type="submit" class="btn btn-default btn-wd" name="Précédent" value="Précédent" />
    </div>

    <div class="clearfix"></div>
  </div>
</div>
</form>

{% endblock %}