@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.range {
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: #e9ecef;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px ;
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  border: 4px solid #fff;
  box-shadow: -407px 0 0 400px #d63384;
}

